:root {
   --gutter: 2em; 
}

@font-face {
    font-family: "custom-font";
    src: url("../../../fonts/BarlowCondensed-Medium.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'custom-font';
}

body {
    width: 100%;
    height: 100%;
    background-image: url("../img/food.jpg");
    background-size: cover;
}

button {
    background-color: white;
    border: 1px solid black;
    font-size: .8em;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}

button:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}

#app {
    background-color: rgb(255, 255, 255,.8);
    position: relative;
    width: 65%;
    min-height: 80vh;
    margin: var(--gutter) auto;
    border: black solid 2px;
    border-radius: 1%;
}

#shopping-list-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

#ingList {
    width: 85%;
}

#ingredientsUsed {
    min-height: 200px;
}

.invisible {
    background-color: rgba(0, 0, 0, 0);
    display: none;
}

.visible {
    transition: background-color 1s;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list-box {
    margin: 2% 5%;
    padding: 2% 5%;
    border: black solid 2px;
    border-radius: 1%;
}

.full-width {
    width: 85%;
}

.col {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.display-inline {
    display: inline;
}

.nav-bar {
    width: 100%;
    background-color: #162e1c;
    color: white;
    padding: 15px;
    font-size: 1.5em;
}

.nav-element {
    padding: 0 15px;
}

.nav-link {
 text-decoration: none;
 color: white;
}

.recipes-available-item {
    margin: 10px 0px;
}

.col-title {
    width: 100%;
    text-align: center;
    margin: 10px 0px;
}

.list {
    text-decoration: none;
    list-style: none;
    text-align: center;
}

.output-container {

}

.shopping-list {
    text-align: center;
}

.white-background {
    background-color: white;
}

.autofill-container {
    width: 300px;
}

.ingredient-input {
    width: 100%;
    font-size: 1.2em;
}

.single-selection-item {
    border: solid #e6e6e6 1px;
    font-size: 1.2em;
}

.single-selection-item {
    cursor: pointer;
}

.ingredient-setup {
    position: relative;
    border: #b1e0be solid 1px;
    border-style: inset;
    margin: 10px 0px;
    padding: 5px;
}

.ingredient-setup input {
    margin: 0 5px;
}

.ingredient-setup span {
    margin: 0px 5px;
}

.input-max-height {
    max-height: 2em;
}

.inline {
    display: inline;
}

.delete-div {
    position: absolute;
    border: solid 1px black;
    display: inline;
    right: 5px;
    transition: all .25s;
}

.delete-div:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.delete-span {
    text-align: center;
}

.top-right-button {
    position: absolute;
    top: 20px;
    right: 20px;
}

.animate-in {
    animation: animate-in 0.4s ease-in;
}

@keyframes animate-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 650px) {
    .col-container {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
    .col {
        align-self: center;
        width: 80%;
    }
    .output-button {
        align-self: center;
    }
    .col-title {
        font-size: 1.5em;
    }
    label {
        width: 100%;
        text-align: center;
    }
    input {
        width: 100%;
        text-align: center;
    }
    .add-ing-button {
        width: 100%;
    }
}

