:root {
   --gutter: 2em; 
}

@font-face {
    font-family: "custom-font";
    src: url("../../../fonts/BarlowCondensed-Medium.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'custom-font';
}

button {
    background-color: white;
    border: 2px solid black;
    font-size: 1em;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}

button:hover {
    color: white;
    background-color: black;
    border-color: grey;
}

#app {
    width: 65%;
    min-height: 80vh;
    margin: var(--gutter) auto;
    border: black solid 2px;
    border-radius: 1%;
}

#ingList {
    width: 80%;
}

#ingredientsUsed {
    min-height: 200px;
}

.col-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list-box {
    margin: 2% 5%;
    padding: 2% 5%;
    border: black solid 2px;
    border-radius: 1%;
}

.full-width {
    width: 80%;
}

.col {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.display-inline {
    display: inline;
}

.nav-bar {
    width: 100%;
    background-color: #162e1c;
    color: white;
    padding: 15px;
    font-size: 1.5em;
}

.nav-element {
    padding: 0 15px;
}

.nav-link {
 text-decoration: none;
 color: white;
}

.col-title {
    width: 100%;
    text-align: center;
}

.list {
    text-decoration: none;
    list-style: none;
    text-align: center;
}

.output-container {
    visibility: hidden;
}

.output-button {
    width: 100%;
    margin: auto;
}

.shopping-list {
    text-align: center;
}

.autofill-container {
    width: 300px;
}

.ingredient-input {
    width: 100%;
    font-size: 1.2em;
}

.single-selection-item {
    border: solid #e6e6e6 1px;
    font-size: 1.2em;

}

.selection-items {
    
}

.ingredient-setup {
    border: #b1e0be solid 1px;
    border-style: inset;
    margin: 10px 0px;
    padding: 5px;
}

.ingredient-setup input {
    margin: 0 5px;
}

.ingredient-setup span {
    margin: 0px 5px;
}

.input-max-height {
    max-height: 2em;
}

.animate-in {
    animation: animate-in 0.4s ease-in;
}

@keyframes animate-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


